.listaTarefas {
    list-style-type: none;
    border-radius: 10px;
    padding: 3px 15px;
    background-color: var(--cinza);
}

.elementoListaTarefas {
    background-color: var(--branco);
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.spanBotoesAttDel {
    display: flex;
    gap: 5px;
}

.spanDataHorario {
    display: flex;
    gap: 3px;
}

.botaoConcluirTarefa {
    font-size: 10px;
    padding: 8px;
    margin-right: 10px;
}

.botoesAttDel {
    background-color: var(--branco);
    color: black;
    padding: 4px 4px 0px 4px;
    border-radius: 3px;
    font-weight: 500;
    border: 1px solid black;
}

.botaoDel {
    color: rgb(134, 6, 6);
}

.containerDataHorario {
    font-size: 12px;
    display: flex;
    gap: 6px;
    margin-top: 5px;
}