.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--azulClaro);
}

.navbarHeader {
    display: flex;
    align-items: center;
}

.ulHeader {
    display: flex;
    gap: 10px;
    margin-bottom: 0px !important;
}

.liHeader {
    list-style-type: none;
}

.ancorasHeader {
    text-decoration: none;
    color: var(--branco);
}

.containerBotoes {
    display: flex;
    align-items: center;
    gap: 10px;
}

.botoesLoginSub {

}

@media (max-width: 600px) {

    .navbarHeader {
        display: none;
    }

    .header {
        justify-content: center;
    }

}