.containerTasks {
    width: 50%;
    margin: 50px auto 0px auto;
    max-width: 700px;
}

.tituloTarefa {
    background-color: var(--azulEscuro);
    text-align: center;
    border-radius: 4px;
    color: white;
    margin-top: 0px;
    padding: 10px;
}

.containerAddFiltrar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

@media (max-width: 600px) {

    .containerTasks {
        width: 90%;
        margin-top: 20px;
    }

    .tituloTarefa {
        font-size: 25px;
    }

    .containerAddFiltrar {
        flex-direction: column;
        gap: 10px;
    }

}